.form1{
	margin:400px;
	margin-top:0px;
	background-color:white;
	padding-top:10px;
/*	background: #73AD21;
*/	border-radius:25px;
}

.form2{
	font-size:35px;
	padding:10px
}
.form3{
	font-size:20px;
	padding:10px
}
body{
background-image: url('/home/qainfotech/Desktop/giphy.gif');
background-size: cover;
}

.button1{
	border-radius: 12px;
	color: green;
  padding: 5;
  padding-left:30px;
  padding-right:30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
 
}

.signup{
	display:block;

	margin-left:auto;
	margin-right:auto;
	width:250px;
	height: 80px;
}